table.summary {
    border-width: 1px 1px 1px 1px;
    border-spacing: 1px 3px 1px 3px;
    border-style: solid solid solid solid;
    border-color: grey grey grey grey;
    border-collapse: collapse;
}
table.summary th {
    border-width: 1px 1px 1px 1px;
    border-style: solid solid solid solid;
    border-color: grey grey grey grey;
    font-size: 12px;
    -moz-border-radius: 0px 0px 0px 0px;
}
table.summary tr:hover {
    color:#0033cc;
	background-color: WhiteSmoke;

}
table.summary td {
    border-width: 1px 1px 1px 1px;
    padding: 1px 4px 1px 4px;
    border-style: solid solid solid solid;
    border-color: gray gray gray gray;
    text-align: left;
    font-size: 12px;
    -moz-border-radius: 0px 0px 0px 0px;

}
table.nested {
    border-width: 0px 0px 0px 0px;
    border-spacing: 1px 3px 1px 3px;
    border-color: white white white white;
}
table.nested tr:hover {
    color: darkblue;
}
table.nested td {
    border-width: 0px 0px 0px 0px;
    padding: 1px 4px 1px 4px;
    border-color: white white white white;
    text-align: left;
    font-size: 10px;
    -moz-border-radius: 0px 0px 0px 0px;
}
table.nolines {
    border-width: 0px 0px 0px 0px;
    border-spacing: 1px 3px 1px 3px;
    border-color: white white white white;
}
table.nolines td {
    border-width: 0px 0px 0px 0px;
    padding: 1px 4px 1px 4px;
    border-color: white white white white;
    text-align: center;
    font-size: 12px;
    -moz-border-radius: 0px 0px 0px 0px;
}
table.nolinesLeftAligned {
    border-width: 0px 0px 0px 0px;
    border-spacing: 1px 3px 1px 3px;
    border-color: white white white white;
}
table.nolinesLeftAligned tr:hover {
    color: black;
    font-size: 14px;
}
table.nolinesLeftAligned td {
    border-width: 0px 0px 0px 0px;
    padding: 1px 4px 1px 4px;
    border-color: white white white white;
    text-align: left;
    font-size: 12px;
    font-face: Arial;
    -moz-border-radius: 0px 0px 0px 0px;
}
p.btip {
   font-size: 1.25em;
   line-height: 1em;
}